services:
  api:
    build:
      context: ../
      dockerfile: deployments/Dockerfile
    ports:
      - "3002"
    volumes:
      - ../internal/integrationtests/infrastructure/testdata:/app/config
    command: ["./freighter-backend", "serve"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:3002/api/v1/ping"]
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      FREIGHTER_BACKEND_HOST: ${FREIGHTER_BACKEND_HOST:-0.0.0.0}
      FREIGHTER_BACKEND_PORT: ${FREIGHTER_BACKEND_PORT:-3002}
      PROTOCOLS_CONFIG_PATH: ${PROTOCOLS_CONFIG_PATH:-/app/config/protocols.json}
      REDIS_HOST: ${REDIS_HOST:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      MODE: ${MODE:-development}

networks:
  default:
    driver: bridge
